<mat-sidenav-container fxFill>

    <mat-sidenav-content fxLayout="column">

        <title-bar [rp]="rp"></title-bar>

        <!-- https://stackoverflow.com/questions/14962468/flexbox-and-vertical-scroll-in-a-full-height-app-using-newer-flexbox-api -->
        <div style="flex: 1 1 auto; overflow-y: auto; height: 0px">
            <rp-message *ngFor="let msg of rp.messages" [msg]="msg"></rp-message>
        </div>

        <div>
            <rp-message-box (onMessage)="sendMessage($event)"></rp-message-box>
        </div>

    </mat-sidenav-content>

    <mat-sidenav #charaMenu position="end" mode="over">

        <mat-toolbar color="primary">

            <h1 fxFlex>
                Characters
            </h1>

            <button mat-icon-button (click)="charaMenu.close()">
                <mat-icon aria-label="Close character menu" matTooltip="Close">close</mat-icon>
            </button>

        </mat-toolbar>

        <mat-nav-list>
            <a mat-list-item (click)="setVoice('narrator')">
                <mat-icon>local_library</mat-icon> <span fxFlex>Narrator</span> <mat-icon *ngIf="(currentChara$|async) === 'narrator'">check</mat-icon>
            </a>
            <a mat-list-item (click)="setVoice('ooc')">
                <mat-icon>chat</mat-icon> <span fxFlex>Out of Character</span> <mat-icon *ngIf="(currentChara$|async) === 'ooc'">check</mat-icon>
            </a>

            <mat-divider></mat-divider>

            <a mat-list-item (click)="newChara()">
                <mat-icon>person_add</mat-icon> <span fxFlex>New Character...</span>
            </a>

            <mat-divider></mat-divider>

            <a mat-list-item *ngFor="let chara of rp.charas" (click)="setVoice(chara)">
                <mat-icon>person</mat-icon> <span fxFlex>{{chara.name}}</span> <mat-icon *ngIf="(currentChara$|async).id === chara.id">check</mat-icon>
            </a>

        </mat-nav-list>

    </mat-sidenav>

</mat-sidenav-container>