.DS_Store
node_modules
npm-debug.log*
server/www
rpnow
rpnow.exe
rpnow-linux.tar.gz
rpnow-windows.zip

data/*

!.gitkeep

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
