<!doctype html>
<html ng-app="rpnow" ng-controller="RpController" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, height=device-height, maximum-scale=1, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <title ng-bind="(rp.title || 'Loading RP...') + ' | RPNow'">Loading... | RPNow</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.css">
  <link rel="stylesheet" href="/rp.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Alice" />
  <style>
    /* prevent weird scrolling issues on mobile */
    body, html {
      overflow: hidden;
      max-width: 100vw;
      max-height: 100vh;
    }
    /* font styles */
    div, textarea, input {
      font-family: Alice;
    }
    h1, h2, h3 {
      font-family: Playfair Display;
    }
    /* override some angular-material defaults */
    #appBar .md-toolbar-tools {
      padding: 0;
    }
    md-toolbar {
      border-bottom: 1px solid #999;
      min-height: 48px;
    }
    .md-toolbar-tools {
      height: 48px;
    }
    #appBar h1, #leftDrawer h2 {
      text-align: center;
    }
    #leftDrawer md-checkbox {
      margin-right: 0;
      width: auto;
    }
    /* misc page style tweaks */
    #leftDrawer md-toolbar a {
      text-decoration: none;
      color: inherit;
    }
    .md-toolbar-tools h2 md-icon {
      margin-right: 5px;
    }
    #message-container {
      padding: 10px;
      padding-top: 30px
    }
  </style>
</head>

<body ng-cloak ng-class="nightMode?'dark':''" md-theme="{{nightMode?'dark':'default'}}" md-theme-watch="true">

  <section layout="row" flex style="height:100%">

    <!-- LEFT DRAWER -->
    <md-sidenav class="md-sidenav-left noselect" md-component-id="left" md-whiteframe="1" layout="column" id="leftDrawer">
      <md-toolbar>
        <a href="/" target="_blank">
          <h2 ng-class="isDesktopMode ? 'md-display-3' : 'md-display-1'">RPNow</h2>
        </a>
      </md-toolbar>
      <md-content flex>
        <md-list>
          <md-list-item title="When turned on, pressing the 'Enter' key will send a message. When turned off, pressing 'Enter' will insert a paragraph break.">
            <md-icon>send</md-icon>
            <p>Press <kbd>Enter</kbd> to send</p>
            <md-checkbox ng-model="pressEnterToSend"></md-checkbox>
          </md-list-item>
          <md-list-item title="Toggle whether a notification noise will play when the tab is hidden">
            <md-icon>notifications</md-icon>
            <p>Notification noise</p>
            <md-checkbox ng-model="notificationNoise"></md-checkbox>
          </md-list-item>
          <md-list-item title="Show or hide the timestamps and color-ID's on all messages">
            <md-icon>account_box</md-icon>
            <p>Show message details</p>
            <md-checkbox ng-model="showMessageDetails"></md-checkbox>
          </md-list-item>
          <md-list-item title="Display the site in a darker color scheme">
            <md-icon>brightness_4</md-icon>
            <p>Night mode</p>
            <md-checkbox ng-model="nightMode"></md-checkbox>
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item ng-click="showDialog('#contactDialog', $event)" target="_blank" title="Get in touch with RPNow administration and support">
            <md-icon>help</md-icon>
            <p>Contact RPNow</p>
          </md-list-item>
          <md-list-item href="/about" target="_blank" title="Get to know us!">
            <md-icon>mood</md-icon>
            <p>About us</p>
          </md-list-item>
          <md-list-item href="/donate" target="_blank" title="Every dollar is appreciated  :D">
            <md-icon>favorite</md-icon>
            <p>Donate</p>
          </md-list-item>
          <md-list-item href="/terms" target="_blank" title="Terms of use and privacy information for using RPNow">
            <md-icon>account_balance</md-icon>
            <p>Terms &amp; Privacy</p>
          </md-list-item>

      </md-content>
    </md-sidenav>

    <!-- MAIN PAGE BODY -->
    <div flex layout="column">

      <!-- APP BAR -->
      <md-toolbar flex="none" id="appBar">
        <div layout="row" layout-align="space-between center" class="md-toolbar-tools noselect">
          <div class="left-buttons">
            <md-button class="md-icon-button" aria-label="Main menu" title="Main menu" ng-click="toggleLeftDrawer()">
              <md-icon>menu</md-icon>
            </md-button>
          </div>
          <h1 md-truncate flex title="{{rp.title}}">{{rp.title}}</h1>
          <div class="right-buttons" layout="row" layout-align="end center">
            <md-button hide show-gt-xs class="md-icon-button" aria-label="Invite friends" title="Invite friends" id="inviteButton" ng-click="showDialog('#inviteDialog', $event)">
              <md-icon>mail</md-icon>
            </md-button>
            <md-button hide show-gt-xs class="md-icon-button" aria-label="Read archive" title="Read archive">
              <md-icon>import_contacts</md-icon>
            </md-button>
            <md-button hide show-gt-xs class="md-icon-button" aria-label="Download RP" title="Download RP" ng-click="showDialog('#downloadDialog', $event)">
              <md-icon>cloud_download</md-icon>
            </md-button>
            <md-menu hide-gt-xs aria-hidden="true" md-position-mode="target-right target">
              <md-button class="md-icon-button" title="RP options" ng-click="viewMobileToolbarMenu($mdOpenMenu, $event)">
                <md-icon md-menu-origin>expand_more</md-icon>
              </md-button>
              <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="showDialog('#inviteDialog', $event)">
                    <md-icon>mail</md-icon> Invite friends
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button>
                    <md-icon>import_contacts</md-icon> Read archive
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="showDialog('#downloadDialog', $event)">
                    <md-icon>cloud_download</md-icon> Download RP
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
      </md-toolbar>

      <!-- MESSAGES PANE -->
      <md-content flex layout="column" scroll-glue="isStoryGlued">
        <div id="message-container">
          <div ng-repeat="msg in rp.msgs.slice(-numMsgsToShow)" class="message message-{{msg.type}}" ng-class="{'message-sending': msg.sending, 'message-slim': !showMessageDetails}" ng-style="{'background-color': msg.chara?msg.chara.color:'auto', 'color': msg.chara?(msg.chara.color | contrastColor):'' }">
            <div ng-if="msg.type === 'chara'" class="name">{{msg.chara.name}}</div>
            <div class="message-details noselect" ng-show="showMessageDetails || (msg.type === 'ooc')">
              <span class="timestamp" title="Posted {{msg.timestamp | momentAgo}}" ng-show="showMessageDetails">
                {{msg.timestamp | momentAgoShort}}
              </span>
              <span class="color-ip-box" title="User color ID">
                <span ng-repeat="i in [0,6,12]" ng-style="{'background-color':'#'+msg.ipid.substr(i,6)}"></span>
              </span>
            </div>
            <div class="content" ng-bind-html="msg.content | msgContent"></div>
          </div>
        </div>
      </md-content>

      <!-- MESSAGE BOX -->
      <div layout="row" layout-align="center center" id="message-input-panel" md-colors="{background: 'primary'}">
        <div class="left-buttons"></div>
        <div class="message-input-column" flex layout="column">
          <md-select id="voice-selector" class="md-accent" ng-model="msgBox.voice">
            <md-option value="narrator">Narrator</md-option>
            <md-option value="ooc">Out-of-Character</md-option>
            <md-divider></md-divider>
            <md-option ng-repeat="chara in rp.charas" ng-value="$index">{{chara.name}}</md-option>
            <md-divider></md-divider>
            <md-option value="_addnew" ng-click="showCharacterDialog($event)">New Character...</md-option>
          </md-select>
          <textarea id="message-input" rows="3" placeholder="Type your message. {{pressEnterToSend? '(Press Shift+Enter for a paragraph break)' : '(Press Ctrl+Enter to send)'}}" ng-model="msgBox.content" on-press-enter="sendMessage()" require-ctrl-key="{{!pressEnterToSend}}"></textarea>
        </div>
        <div class="right-buttons">
          <md-button ng-class="isDesktopMode ? 'md-fab md-accent' :  'md-icon-button'" aria-label="Send" title="Send" ng-click="sendMessage()" ng-disabled="msgBox.content.trim().length === 0">
            <md-icon>send</md-icon>
          </md-button>
        </div>
      </div>

    </div>
  
  </section>

  <!-- CHARACTER CREATOR DIALOG-->
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="characterCreatorDialog">
      <md-dialog>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><md-icon>person_add</md-icon> New Character</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-hide="addCharaBox.sending" ng-click="hideDialog()" title="Close">
              <md-icon>close</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content ng-show="addCharaBox.sending" class="md-dialog-content" layout="column" layout-align="center center">
          <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
        </md-dialog-content>
        <md-dialog-content ng-hide="addCharaBox.sending" class="md-dialog-content">
          <md-input-container class="md-accent">
            <label>Name</label>
            <input ng-model="addCharaBox.name">
          </md-input-container>
          <div>
            <input type="color" ng-model="addCharaBox.color">
          </div>
          <md-dialog-actions layout="row">
            <md-button class="md-raised md-accent" ng-click="sendChara()" title="Finish creating this character">
              <md-icon>check</md-icon>
               OK
            </md-button>
          </md-dialog-actions>
        </md-dialog-content>
      </md-dialog>
    </div>
  </div>

  <!-- CONTACT DIALOG-->
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="contactDialog">
      <md-dialog>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><md-icon>help</md-icon> Contact RPNow</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hideDialog()" title="Close">
              <md-icon>close</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content">
          <p>Feel free to e-mail us with any questions or comments!</p>
          <p>
            <md-icon>mail</md-icon>
            <a class="link" href="mailto:rpnow.net@gmail.com">rpnow.net@gmail.com</a>
          </p>
        </md-dialog-content>
      </md-dialog>
    </div>
  </div>

  <!-- INVITE DIALOG -->
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="inviteDialog">
      <md-dialog>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><md-icon>mail</md-icon> Invite Friends</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hideDialog()" title="Close">
              <md-icon>close</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content">
          <p>To invite others to this RP, send them the following URL:</p>
          <p><a class="link" href="{{url}}">{{url}}</a></p>
        </md-dialog-content>
      </md-dialog>
    </div>
  </div>

  <!-- DOWNLOAD DIALOG -->
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="downloadDialog">
      <md-dialog>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><md-icon>cloud_download</md-icon> Download RP</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hideDialog()" title="Close">
              <md-icon>close</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content">
          <md-checkbox ng-model="downloadOOC" aria-label="Include OOC messages" title="Include out-of-character messages">
            Include OOC messages
          </md-checkbox>
          <md-dialog-actions layout="row">
            <md-button class="md-raised md-accent" ng-click="downloadTxt()" title="A plain, unformatted text file">
              <md-icon>file_download</md-icon>
               .TXT
            </md-button>
            <md-button class="md-raised md-accent" ng-click="downloadDocx()" title="A document suitable for editing in a word processor, such as Microsoft Word or LibreOffice">
              <md-icon>file_download</md-icon>
               .DOCX
            </md-button>
          </md-dialog-actions>
        </md-dialog-content>
      </md-dialog>
    </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-aria.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-messages.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.6.1/jszip.js"></script>
  <script src="/lib/docxtemplater-3.0.3.min.js"></script>
  <script src="/lib/scrollglue-2.1.0.js"></script>

  <script src="/rp.js"></script>
</body>
</html>