<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><md-icon>image</md-icon> Post Image</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-hide="$ctrl.sending" ng-click="$ctrl.hide()" title="Close">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content ng-show="$ctrl.sending" class="md-dialog-content" layout="column" layout-align="center center">
    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
  </md-dialog-content>
  <md-dialog-content ng-hide="$ctrl.sending" class="md-dialog-content" layout="column" layout-align="center center">
    <md-input-container ng-class="$root.nightModeSetting.value? 'md-hue-3':'md-hue-2'">
      <label>Enter an image URL:</label>
      <input ng-model="$ctrl.url" ng-trim="true" md-autofocus>
    </md-input-container>

    <md-button class="md-raised md-accent" ng-click="$ctrl.send()" ng-disabled="!$ctrl.isValid()" title="Post the image">
      <md-icon>check</md-icon> OK
    </md-button>
  </md-dialog-content>
</md-dialog>