<div layout-fill layout="column">

  <!-- MESSAGES PANE -->
  <md-content flex layout="column" scroll-glue="$ctrl.isStoryGlued">
    <div id="message-container">
      <rp-message ng-repeat="msg in $ctrl.rp.msgs.slice(-$ctrl.numMsgsToShow)" msg="msg" show-details="$ctrl.showDetails"></rp-message>
    </div>
  </md-content>

  <!-- MESSAGE BOX -->
  <div layout="column" id="message-input-box" ng-style="{'background-color': color(msgBox.voice) || 'auto', 'color':((color(msgBox.voice) || '#ffffff') | contrastColor:0.7) }" ng-class="(color(msgBox.voice)|contrastColor)==='white'?'dark':'light'">

    <!-- MESSAGE BOX TITLE -->
    <header class="noselect">
      <div layout="row" layout-align="center center" class="message-box-inner-row">
        <div flex layout="row" layout-align="start center" ng-click="isRightDrawerVisible || toggleRightDrawer()" id="voiceChangeBar" ng-class="{hovershade:!isRightDrawerVisible}">
          <md-tooltip ng-if="$root.hasMouse && !isRightDrawerVisible" md-direction="top">Change character</md-tooltip>
          <span ng-if="$ctrl.msgBox.voice === 'narrator'" class="md-truncate">
            <md-icon>local_library</md-icon> <span>Narrator</span>
          </span>
          <span ng-if="$ctrl.msgBox.voice === 'ooc'" class="md-truncate">
            <md-icon>chat</md-icon> <span>Out of character</span>
          </span>
          <span ng-if="$ctrl.msgBox.voice >= 0" class="md-truncate">
            <md-icon>person</md-icon>
            <span>{{$ctrl.rp.charas[msgBox.voice].name}}</span>
          </span>
          <span hide-xs ng-hide="isRightDrawerVisible" class="clickToChange">
            (Click to change)
          </span>
          <span flex></span>
        </div>
        <md-button class="md-icon-button" aria-label="Post image" ng-click="$ctrl.showImageDialog($event)">
          <md-tooltip ng-if="$root.hasMouse" md-direction="top">Post image</md-tooltip>
          <md-icon>image</md-icon>
        </md-button>
      </div>
    </header>

    <!-- MESSAGE BOX BODY -->
    <div ng-style="{'color': $root.nightMode? 'white':'black', 'background-color':$root.nightMode?'#303030':'white', opacity:0.7}">
      <div layout="row" layout-align="center center" class="message-box-inner-row">
        <textarea flex id="message-input" rows="4" ng-attr-placeholder="Type your message. {{$ctrl.pressEnterToSend? '(Press Enter to send)' : '(Press Ctrl+Enter to send)'}}" ng-model="$ctrl.msgBox.content" maxlength="{{$ctrl.MAX_MSG_CONTENT_LENGTH}}" on-press-enter="$ctrl.sendMessage()" require-ctrl-key="{{!$ctrl.pressEnterToSend}}"></textarea>
        <md-button ng-class="isDesktopMode ? 'md-fab md-primary' :  'md-icon-button'" ng-style="($ctrl.msgBox.isValid() && isDesktopMode)?{'background-color': color(msgBox.voice), 'color': (color(msgBox.voice) | contrastColor) }:{}" aria-label="Send" title="Send" ng-click="$ctrl.sendMessage()" ng-disabled="!$ctrl.msgBox.isValid()">
          <md-icon>send</md-icon>
        </md-button>
      </div>
    </div>

  </div>

</div>