<section layout="row" flex style="height:100%">

  <!-- LEFT DRAWER -->
  <md-sidenav class="md-sidenav-left noselect" md-component-id="left" md-whiteframe="1" layout="column" id="leftDrawer">
    <md-toolbar layout="column">
      <div layout="row" class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.toggleLeftDrawer()" title="Close">
          <md-icon>close</md-icon>
        </md-button>
      </div>
      <h2 class="md-display-2" style="margin-top:-10px">RPNow</h2>
    </md-toolbar>
    <md-content flex>
      <md-list>
        <md-list-item href="/" target="_blank" title="Return to the homepage to create a new RP">
          <md-icon>note_add</md-icon>
          <p>Create new RP</p>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item ng-click="$ctrl.pressEnterToSend = !$ctrl.pressEnterToSend" title="When turned on, pressing the 'Enter' key will send a message. When turned off, pressing 'Enter' will insert a paragraph break.">
          <md-icon>send</md-icon>
          <p>Press <kbd>Enter</kbd> to send</p>
          <md-checkbox ng-model="$ctrl.pressEnterToSend"></md-checkbox>
        </md-list-item>
        <md-list-item title="Change the notification noise which will play when the tab is hidden, or just turn it off" ng-click="$ctrl.openNoiseSelector()">
          <md-icon>notifications</md-icon>
          <p>Notification noise</p>
          <md-select id="noiseSelector" ng-model="$ctrl.notificationNoise" class="md-no-underline" aria-label="Notification noise dropdown menu">
            <md-option ng-repeat="noise in $ctrl.allNoises" ng-value="$index" ng-click="noise.audio.play()">
              {{noise.name}}
            </md-option>
          </md-select>
        </md-list-item>
        <md-list-item ng-click="$ctrl.showMessageDetails = !$ctrl.showMessageDetails" title="Show or hide the timestamps and color-ID's on all messages">
          <md-icon>account_box</md-icon>
          <p>Show message details</p>
          <md-checkbox ng-model="$ctrl.showMessageDetails"></md-checkbox>
        </md-list-item>
        <md-list-item ng-click="$root.nightMode = !$root.nightMode" title="Display the site in a darker color scheme">
          <md-icon>brightness_4</md-icon>
          <p>Night mode</p>
          <md-checkbox ng-model="$root.nightMode"></md-checkbox>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item ng-click="$ctrl.showContactDialog($event)" title="Get in touch with RPNow administration and support">
          <md-icon>help</md-icon>
          <p>Contact RPNow</p>
        </md-list-item>
        <md-list-item href="/about" target="_blank" title="Get to know us!">
          <md-icon>mood</md-icon>
          <p>About us</p>
        </md-list-item>
        <md-list-item href="https://www.patreon.com/rpnow" target="_blank" title="Every dollar is appreciated  :D">
          <md-icon>favorite</md-icon>
          <p>Patreon</p>
        </md-list-item>
        <md-list-item href="/terms" target="_blank" title="Terms of use and privacy information for using RPNow">
          <md-icon>account_balance</md-icon>
          <p>Terms &amp; Privacy</p>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>

  <!-- LOADING PAGE BODY -->
  <md-content flex layout="column" layout-align="center center" layout-padding ng-show="rp.loading">
    <md-progress-circular class="md-accent" md-diameter="96"></md-progress-circular>
    <p>Loading RP...</p>
  </md-content>

  <!-- ERROR PAGE BODY -->
  <md-content flex layout="column" layout-align="center center" layout-padding ng-show="rp.loadError">
    <h1 title="RP Load Error"><md-icon class="md-warn" style="height:96px;width:96px;font-size:96px">cancel</md-icon></h1>
    <p ng-show="rp.loadError==='RP_NOT_FOUND'">Couldn't find an RP at <code>&quot;/rp/{{rp.rpCode}}&quot;</code>. Check the URL and try again.</p>
    <p ng-hide="rp.loadError==='RP_NOT_FOUND'">Failed to load the RP at <code>/rp/{{rp.rpCode}}</code> due to an unknown error. Please contact RPNow staff or try again later. (Server says: &quot;{{rp.loadError}}&quot;)</p>
  </md-content>

  <!-- MAIN PAGE BODY -->
  <div flex layout="column" ng-hide="rp.loading || rp.loadError">

    <!-- APP BAR -->
    <md-toolbar flex="none" id="appBar">
      <div layout="row" layout-align="space-between center" class="md-toolbar-tools noselect">
        <div class="left-buttons">
          <md-button class="md-icon-button" aria-label="Main menu" ng-click="$ctrl.toggleLeftDrawer()">
            <md-tooltip ng-if="$root.hasMouse">Main menu</md-tooltip>
            <md-icon>menu</md-icon>
          </md-button>
        </div>
        <h1 class="md-truncate">
          <md-tooltip ng-if="$root.hasMouse && $ctrl.rp.desc">{{$ctrl.rp.desc}}</md-tooltip>
          {{$ctrl.rp.title}}
        </h1>
        <div class="right-buttons" layout="row" layout-align="end center">
          <button hide show-gt-xs class="md-button md-icon-button" aria-label="Read archive" ui-sref="rp.feed">
            <md-tooltip ng-if="$root.hasMouse">Chat</md-tooltip>
            <md-icon>question_answer</md-icon>
          </button>
          <button hide show-gt-xs class="md-button md-icon-button" aria-label="Read archive" ui-sref="rp.archive({page:1})">
            <md-tooltip ng-if="$root.hasMouse">Read archive</md-tooltip>
            <md-icon>import_contacts</md-icon>
          </button>
          <button hide show-gt-xs class="md-button md-icon-button" aria-label="Download RP" ng-click="$ctrl.showDownloadDialog($event)">
            <md-tooltip ng-if="$root.hasMouse">Download RP</md-tooltip>
            <md-icon>cloud_download</md-icon>
          </button>
          <md-menu hide-gt-xs aria-hidden="true" md-position-mode="target-right target">
            <md-button class="md-icon-button" title="RP options" ng-click="$mdOpenMenu($event)">
              <md-icon md-menu-origin>expand_more</md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="$ctrl.showInviteDialog($event)">
                  <md-icon>mail</md-icon> Invite friends
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ui-sref="rp.archive({page:1})">
                  <md-icon>import_contacts</md-icon> Read archive
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="$ctrl.showDownloadDialog($event)">
                  <md-icon>cloud_download</md-icon> Download RP
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-toolbar>

    <ui-view flex show-details="$ctrl.showMessageDetails" press-enter-to-send="$ctrl.pressEnterToSend" notification-noise="$ctrl.notificationNoise"></ui-view>
  </div>
</section>
