.message{
  word-wrap: break-word;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  margin: 0 auto 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
}
.message .content {
  line-height: 1.6;
}
.message-chara .message-details,
.message-narrator .message-details {
  margin: -5px 28px -2px 0;
}
.message .timestamp {
  margin-right: 4px;
  font-size: 90%;
  opacity: 0.5;
}
.message .color-ip-box {
  display: inline-block;
  vertical-align: middle;
  height: 8px;
  width: 18px;
  border: solid 1px #555;
  margin-top: -2px;
  position: relative;
}
.message .color-ip-box span {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  width: 6px;
  height: 100%;
}




.message-narrator {
  background-color: #fff;
  text-align: right;
  padding: 8px;
}
.message-narrator .content {
  border: dotted 1px #bbb;
  padding: 15px 20px;
  text-align: left;
}
.message-ooc {
  padding: 0 8px;
  box-shadow: none;
  font-size: 80%;
}
.message-ooc .content {
  opacity: 0.5;
}
.message-ooc + .message-ooc {
  margin-top: -20px;
}
.message-ooc .message-details {
  display: inline;
  margin-right: 8px;
}
.message-ooc .timestamp {
  opacity: 0.4;
  font-size: 80%;
}
.message-ooc .content {
  display: inline;
}
.message-chara {
  margin-top: 12px;
  padding: 6px 8px 10px;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  position: relative;
  text-align: right;
}
.message-chara .name{
  display: inline-block;
  position: absolute;
  left: 25px;
  top: -13px;
  z-index: 1;
  background-color: inherit;
  border-radius: 4px;
  padding: 3px 10px;
  font-size: 12px;
  letter-spacing: 1px;
  word-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.message-chara .content {
  background-color: white;
  color: black;
  opacity: 0.9;
  padding: 8px;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4) inset;
  text-align: left;
}
.message-chara .content span.action {
  font-size: 80%;
  padding: 0.3em;
  border-radius: 4px;
  opacity: 0.8;
  box-shadow: 0 1px 1px #3c3c3c;
}
.message-chara .color-ip-box {
  border-color: white;
}




@media (max-width: 959px) {
  .left-buttons button, .right-buttons button { margin-left: 0; }
  .right-buttons button { margin-right: 0; }
}
@media (min-width: 960px) {
  .left-buttons, .right-buttons { width:150px; }
  .md-toolbar-tools h1 { max-width: 600px; }
}
#message-input {
  border: none;
  background-color: inherit;
  color: inherit;
  resize: none;
  line-height: 1.4;

  margin: 6px;
  padding: 10px;
  max-width: 616px;
}
@media (min-width: 960px) {
  #message-input {
    padding-left: 8px;
    margin-left: 0;
    margin-right: 14px;
    box-sizing: border-box;
    /*margin: 6px 0 6px 16px;*/
    /*padding: 10px 0;*/
  }
}




body, html {
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}
.noselect {
  /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css#4407335 */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  cursor: default;
}