.message{
  word-wrap: break-word;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  margin: 0 0 20px;
}
.message .content {
  line-height: 1.6;
}
.message .color-ip-box {
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  border: solid 1px white;
  margin-right: 5px;
  margin-top: -2px;
}
.message .color-ip-box span {
  display: inline-block;
  vertical-align: top;
  width: 7px;
  padding: 0; margin: 0;
  height: 10px;
}
.message .timestamp {
  font-size: 90%;
  opacity: 0.5;
}




.message-narrator {
  background-color: #fff;
  text-align: right;
}
.message-narrator .content {
  border: dotted 1px #bbb;
  padding: 15px 20px;
  text-align: left;
}
.message-narrator .message-details {
  margin: -5px 28px -2px;
}
.message-narrator .color-ip-box {
  border-color: #555;
}
.message-ooc {
  background-color: #707070;
  color: #eee;
  padding: 0 5px;
}
.message-ooc:nth-of-type(2n+1) {
  background-color: #7a7a7a;
}
.message-ooc + .message-ooc {
    margin-top: -20px;
}
.message-ooc .message-details {
  display: inline;
}
.message-ooc .timestamp {
  opacity: 0.66;
  font-size: 80%;
}
.message-ooc .timestamp::before { content: '[ '; }
.message-ooc .timestamp::after { content: ' ] '; }
.message-ooc .content {
  display: inline;
}
.message-chara {
  margin-top: 32px;
  padding: 6px 8px 10px;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  position: relative;
  max-width: 100%;
  text-align: right;
}
.message-chara .name{
  display: inline-block;
  position: absolute;
  left: 25px;
  top: -13px;
  z-index: 1;
  background-color: inherit;
  border-radius: 4px;
  padding: 3px 10px;
  font-size: 12px;
  letter-spacing: 1px;
  word-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.message-chara .content {
  background-color: white;
  color: black;
  opacity: 0.9;
  padding: 8px;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4) inset;
  text-align: left;
}
.message-chara .content span.action {
  font-size: 80%;
  padding: 0.3em;
  border-radius: 4px;
  opacity: 0.8;
  box-shadow: 0 1px 1px #3c3c3c;
}
.message-chara .message-details {
  margin: -5px 15px -2px 5px;
}