.message{
  word-wrap: break-word;
  margin: 0 auto 20px;
  box-sizing: border-box;
  width: 100%;
  /*box-shadow: 0 2px 4px rgba(0,0,0,0.03);*/
  max-width: 600px;
}
.message-sending {
  opacity: 0.5;
}
.message .content {
  line-height: 1.6;
}
.message-chara .message-details,
.message-narrator .message-details {
  margin: -5px 28px -2px 0;
}
.message .timestamp {
  margin-right: 4px;
  /*font-size: 90%;*/
  opacity: 0.66;
}
.message .color-ip-box {
  display: inline-block;
  vertical-align: middle;
  height: 8px;
  width: 18px;
  border: solid 1px rgba(0,0,0,0.7);
  margin-top: -2px;
  position: relative;
}
.dark .message .color-ip-box {
  border-color: #bbb;
}
.message .color-ip-box span {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  width: 6px;
  height: 100%;
}


.message-narrator {
  background-color: white;
  text-align: right;
  padding: 0;
  border: 1px solid #999;
  border-radius: 8px;
  /*box-shadow: -10px 5px 30px rgba(0,0,0,0.03) inset;*/
}
.dark .message-narrator {
  background-color:#444;
}
.message-narrator .content {
  /*border: dotted 1px #bbb;*/
  padding: 30px 16px;
  text-align: left;
  border-radius: 4px;
  /*font-size: 120%;*/
}
.dark .message-narrator .content {
  /*border-color: #777;*/
}
.message-narrator .message-details {
  line-height: 0;
  transform: translateY(12px);
}
.message-ooc {
  box-shadow: none;
  padding: 0 16px;
}
.message-ooc .content {
  opacity: 0.66;
  font-size: 90%;
}
.message-ooc + .message-ooc {
  margin-top: -20px;
}
.message-ooc.message-slim .color-ip-box {
  opacity: 0.4;
}
.message-ooc .message-details {
  display: inline;
  margin-right: 8px;
}
.message-ooc .timestamp {
  opacity: 0.5;
  font-size: 80%;
}
.message-ooc .content {
  display: inline;
}
.message-chara {
  margin-top: 12px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 16px;
  border-bottom-left-radius: 0;
  padding: 0;
  position: relative;
  text-align: right;
}
.message-chara .name{
  display: inline-block;
  position: absolute;
  left: 25px;
  top: -13px;
  z-index: 1;
  background-color: inherit;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  padding: 3px 10px;
  font-size: 80%;
  letter-spacing: 1px;
  word-spacing: 1px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.03);
}
.message-chara .message-details {
  /*line-height: 0.8;*/
  /*margin-bottom: -10px;*/
  line-height: 1;
  transform: translateY(6px);
}
.message-chara .color-ip-box {
  border: solid 1px rgba(255,255,255,0.7);
}
.message-chara .content {
  background-color: white;
  color: black;
  opacity: 0.8;
  margin: 12px 8px;
  padding: 8px;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  /*box-shadow: -8px 4px 20px rgba(0,0,0,0.05) inset;*/
  text-align: left;
}
.dark .message-chara .content {
  background-color: black;
  color: white;
  opacity: 0.6;
}
.message-chara .content span.action {
  font-size: 80%;
  padding: 0.3em;
  border-radius: 4px;
  opacity: 0.8;
  box-shadow: 0 1px 1px #3c3c3c;
}




@media (max-width: 959px) {
  .left-buttons button, .right-buttons button { margin-left: 0; }
  .right-buttons button { margin-right: 0; }
}
@media (min-width: 960px) {
  .left-buttons, .right-buttons { width:150px; }
  .md-toolbar-tools h1 { max-width: 600px; }
}
#message-input {
  border: none;
  background-color: inherit;
  color: inherit;
  line-height: 1.4;

  margin: 6px;
  padding: 10px;
  max-width: 616px;
}
@media (min-width: 960px) {
  #message-input {
    padding-left: 8px;
    margin-left: 0;
    margin-right: 14px;
    box-sizing: border-box;
    /*margin: 6px 0 6px 16px;*/
    /*padding: 10px 0;*/
  }
}




body, html {
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}
.noselect {
  /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css#4407335 */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  cursor: default;
}
a.link {
  text-decoration: none;
  border-bottom: 1px dotted rgb(124, 77, 255);
  color: rgb(124, 77, 255);
  opacity: 0.87;
}
.dark a.link {
  color: rgb(255,193,7);
  border-bottom-color: rgb(255,193,7);
}
a.link:hover {
  opacity: 1;
}