<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
  <meta name="referrer" content="origin">
  <meta name="robots" content="noindex">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="My RPs">
  <link rel="icon" href="favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" href="favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" href="favicon/favicon-96x96.png" sizes="96x96">
  <link rel="apple-touch-icon" href="favicon/favicon-128x128.png">

  <!-- 3rd party styles -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgrins/spectrum@1.8.0/spectrum.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Playfair+Display">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
  <link rel="stylesheet" href="styles.css">
  
  <!-- Polyfills -->
  <script defer src="https://cdn.jsdelivr.net/npm/es6-promise@4.2.5/dist/es6-promise.auto.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/text-encoding@0.7.0/lib/encoding.js" integrity="sha256-E9b12NeEmrVSXHs978RmbR1TsqL7+Xd+tHA5lWzi0Mc=" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.0.0/dist/fetch.umd.js" integrity="sha256-mgxDAbboBKeoCOtpaU7QhWdgWBGum+8dPxnIjiC97JI=" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/web-streams-polyfill@2.0.6/dist/polyfill.min.js" integrity="sha256-zAIrVOzXBA0qU8c/qYEjWbrGXGaRofFgf44jqGCCVEI=" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/fetch-readablestream@0.2.0/dist/fetch-readablestream.js" integrity="sha256-4BecP76XqkCxNLLYAOlCkG7KbILJ9Be1rjZ4ylNXY+Q=" crossorigin="anonymous"></script>

  <!-- Libraries -->
  <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js" integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
<!--   <script defer src="https://cdn.jsdelivr.net/npm/vue-router@3.1.3/dist/vue-router.min.js" integrity="sha256-r/vPIUvTobCpYZsMmvU7HM58cNd4D6/vdICqDFapV7Y=" crossorigin="anonymous"></script> -->
  <script defer src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/gh/bgrins/spectrum@1.8.0/spectrum.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/howler@2.1.2/dist/howler.min.js"></script>
  
  <script defer src="main.js" type="module"></script>

  <title>Loading...</title>
</head>

<body>
  <noscript>
    <strong>This site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
</body>

</html>