<section layout="row" flex style="height:100%">

  <!-- LEFT DRAWER -->
  <md-sidenav class="md-sidenav-left noselect" md-component-id="left" md-whiteframe="1" layout="column" id="leftDrawer">
    <md-toolbar>
      <a href="/" target="_blank">
        <h2 ng-class="isDesktopMode ? 'md-display-3' : 'md-display-1'">RPNow</h2>
      </a>
    </md-toolbar>
    <md-content flex>
      <md-list>
        <md-list-item title="When turned on, pressing the 'Enter' key will send a message. When turned off, pressing 'Enter' will insert a paragraph break.">
          <md-icon>send</md-icon>
          <p>Press <kbd>Enter</kbd> to send</p>
          <md-checkbox ng-model="pressEnterToSend"></md-checkbox>
        </md-list-item>
        <md-list-item title="Change the notification noise which will play when the tab is hidden, or just turn it off" ng-click="openNoiseSelector()">
          <md-icon>notifications</md-icon>
          <p>Notification noise</p>
          <md-select id="noiseSelector" ng-model="notificationNoise" class="md-no-underline" aria-label="Notification noise dropdown menu">
            <md-option ng-repeat="noise in allNoises" ng-value="$index" ng-click="noise.audio.play()">
              {{noise.name}}
            </md-option>
          </md-select>
        </md-list-item>
        <md-list-item title="Show or hide the timestamps and color-ID's on all messages">
          <md-icon>account_box</md-icon>
          <p>Show message details</p>
          <md-checkbox ng-model="showMessageDetails"></md-checkbox>
        </md-list-item>
        <md-list-item title="Display the site in a darker color scheme">
          <md-icon>brightness_4</md-icon>
          <p>Night mode</p>
          <md-checkbox ng-model="nightMode"></md-checkbox>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item ng-click="showDialog('#contactDialog', $event)" target="_blank" title="Get in touch with RPNow administration and support">
          <md-icon>help</md-icon>
          <p>Contact RPNow</p>
        </md-list-item>
        <md-list-item href="/about" target="_blank" title="Get to know us!">
          <md-icon>mood</md-icon>
          <p>About us</p>
        </md-list-item>
        <md-list-item href="https://www.patreon.com/rpnow" target="_blank" title="Every dollar is appreciated  :D">
          <md-icon>favorite</md-icon>
          <p>Patreon</p>
        </md-list-item>
        <md-list-item href="/terms" target="_blank" title="Terms of use and privacy information for using RPNow">
          <md-icon>account_balance</md-icon>
          <p>Terms &amp; Privacy</p>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>

  <!-- LOADING PAGE BODY -->
  <md-content flex layout="column" layout-align="center center" layout-padding ng-show="loading">
    <md-progress-circular class="md-accent" md-diameter="96"></md-progress-circular>
    <p>Loading RP...</p>
  </md-content>

  <!-- ERROR PAGE BODY -->
  <md-content flex layout="column" layout-align="center center" layout-padding ng-show="loadError">
    <h1 title="RP Load Error"><md-icon class="md-warn" style="height:96px;width:96px;font-size:96px">cancel</md-icon></h1>
    <p ng-show="loadError==='RP_NOT_FOUND'">Couldn't find an RP at <code>&quot;/rp/{{rp.rpCode}}&quot;</code>. Check the URL and try again.</p>
    <p ng-hide="loadError==='RP_NOT_FOUND'">Failed to load the RP at <code>/rp/{{rp.rpCode}}</code> due to an unknown error. Please contact RPNow staff or try again later. (Server says: &quot;{{loadError}}&quot;)</p>
  </md-content>

  <!-- MAIN PAGE BODY -->
  <div flex layout="column" ng-hide="loading || loadError">

    <!-- APP BAR -->
    <md-toolbar flex="none" id="appBar">
      <div layout="row" layout-align="space-between center" class="md-toolbar-tools noselect">
        <div class="left-buttons">
          <md-button class="md-icon-button" aria-label="Main menu" title="Main menu" ng-click="toggleLeftDrawer()">
            <md-icon>menu</md-icon>
          </md-button>
        </div>
        <h1 md-truncate flex title="{{rp.desc || rp.title}}">{{rp.title}}</h1>
        <div class="right-buttons" layout="row" layout-align="end center">
          <md-button hide show-gt-xs class="md-icon-button" aria-label="Invite friends" title="Invite friends" id="inviteButton" ng-click="showDialog('#inviteDialog', $event)">
            <md-icon>mail</md-icon>
          </md-button>
          <md-button hide show-gt-xs class="md-icon-button" aria-label="Read archive" title="Read archive" ng-click="showDialog('#readerNotDoneDialog', $event)">
            <md-icon>import_contacts</md-icon>
          </md-button>
          <md-button hide show-gt-xs class="md-icon-button" aria-label="Download RP" title="Download RP" ng-click="showDialog('#downloadDialog', $event)">
            <md-icon>cloud_download</md-icon>
          </md-button>
          <md-menu hide-gt-xs aria-hidden="true" md-position-mode="target-right target">
            <md-button class="md-icon-button" title="RP options" ng-click="viewMobileToolbarMenu($mdOpenMenu, $event)">
              <md-icon md-menu-origin>expand_more</md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="showDialog('#inviteDialog', $event)">
                  <md-icon>mail</md-icon> Invite friends
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="showDialog('#readerNotDoneDialog', $event)">
                  <md-icon>import_contacts</md-icon> Read archive
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="showDialog('#downloadDialog', $event)">
                  <md-icon>cloud_download</md-icon> Download RP
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-toolbar>

    <!-- MESSAGES PANE -->
    <md-content flex layout="column" scroll-glue="isStoryGlued">
      <div id="message-container">
        <div ng-repeat="msg in rp.msgs.slice(-numMsgsToShow)" class="message message-{{msg.type}}" ng-class="{'message-sending': msg.sending, 'message-slim': !showMessageDetails}" ng-style="{'background-color': chara(msg)?chara(msg).color:'auto', 'color': chara(msg)?(chara(msg).color | contrastColor):'' }">
          <div ng-if="msg.type === 'chara'" class="name">{{chara(msg).name}}</div>
          <div class="message-details noselect" ng-show="msg.sending || showMessageDetails || (msg.type === 'ooc')">
            <md-progress-circular md-mode="indeterminate" md-diameter="16px" ng-class="(chara(msg)? ((chara(msg).color | contrastColor) === 'white') : (nightMode))? 'md-hue-3':'md-hue-2'" ng-if="msg.sending"></md-progress-circular>
            <span class="timestamp" moment-ago-short="msg.timestamp" title="Posted {{msg.timestamp | momentAgo}}" ng-if="!msg.sending" ng-show="showMessageDetails"></span>
            <span class="color-ip-box" title="User color ID" ng-if="!msg.sending">
              <span ng-repeat="i in [0,6,12]" ng-style="{'background-color':'#'+msg.ipid.substr(i,6)}"></span>
            </span>
          </div>
          <div class="content" ng-bind-html="msg.content | msgContent:(chara(msg)&&chara(msg).color)"></div>
        </div>
      </div>
    </md-content>

    <div layout="column" id="message-input-box" ng-style="{'background-color': color(msgBox.voice) || 'auto', 'color':((color(msgBox.voice) || '#ffffff') | contrastColor:0.7) }">

      <!-- MESSAGE BOX TITLE -->
      <header>
        <div layout="row" class="message-box-inner-row">
          <md-select id="voice-selector" ng-model="msgBox.voice" flex title="Current character" aria-label="Character change dropdown">
            <md-option ng-if="rp.charas" ng-repeat="voice in msgBox.recentVoices()" ng-value="voice">
              <span ng-if="voice === 'narrator'">
                <md-icon>create</md-icon> Narrator
              </span>
              <span ng-if="voice === 'ooc'">
                <md-icon>chat</md-icon> Out of character
              </span>
              <span ng-if="voice >= 0">
                <md-icon ng-style="{'color':rp.charas[voice].color,'text-shadow':(rp.charas[voice].color|needsContrastColor)?'1px 1px 0px '+(rp.charas[voice].color|contrastColor:0.3) : ''}">person</md-icon>
                {{rp.charas[voice].name}}
              </span>
            </md-option>
            <md-divider hide-gt-xs></md-divider>
            <md-option hide-gt-xs ng-show="rp.charas.length > 0" value="_showall" ng-click="toggleRightDrawer()" aria-hidden="true">
              <md-icon>group</md-icon> All Characters...
            </md-option>
            <md-option hide-gt-xs ng-show="rp.charas.length === 0" value="_addnew" ng-click="showCharacterDialog($event)" aria-hidden="true">
              <md-icon>person_add</md-icon> New Character...
            </md-option>
          </md-select>
          <md-button class="md-raised md-primary" hide-xs title="Show all characters for this RP" ng-click="toggleRightDrawer()">
            <md-icon>group</md-icon> All Characters
          </md-button>
        </div>
      </header>

      <!-- MESSAGE BOX BODY -->
      <div ng-style="{'color': nightMode? 'white':'black', 'background-color':nightMode?'#303030':'white', opacity:0.7}">
        <div layout="row" layout-align="center center" class="message-box-inner-row">
          <textarea flex id="message-input" rows="4" ng-attr-placeholder="Type your message. {{pressEnterToSend? '(Press Enter to send)' : '(Press Ctrl+Enter to send)'}}" ng-model="msgBox.content" maxlength="{{MAX_MSG_CONTENT_LENGTH}}" on-press-enter="sendMessage()" require-ctrl-key="{{!pressEnterToSend}}"></textarea>
          <md-button ng-class="isDesktopMode ? 'md-fab md-primary' :  'md-icon-button'" ng-style="(msgBox.isValid() && isDesktopMode)?{'background-color': color(msgBox.voice), 'color': (color(msgBox.voice) | contrastColor) }:{}" aria-label="Send" title="Send" ng-click="sendMessage()" ng-disabled="!msgBox.isValid()">
            <md-icon>send</md-icon>
          </md-button>
        </div>
      </div>
    </div>

  </div>

  <!-- RIGHT DRAWER (FOR CHARACTERS) -->
  <md-sidenav class="md-sidenav-right noselect" md-component-id="right" md-is-locked-open="$mdMedia('gt-md') && isRightDrawerLockedOpen" layout="column" id="rightDrawer">
    <md-toolbar md-colors="{background:nightMode?'background-900':'background-200'}">
      <div class="md-toolbar-tools" layout="row">
        <h2 md-truncate><md-icon>group</md-icon> All Characters</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="toggleRightDrawer()" title="Close">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content flex md-colors="{background:nightMode?'background-900':'background-200'}">
      <md-list>
        <md-list-item ng-click="setVoice('narrator')">
          <md-icon>create</md-icon> <p>Narrator</p>
          <md-icon ng-show="msgBox.voice === 'narrator'">check</md-icon>
        </md-list-item>
        <md-list-item ng-click="setVoice('ooc')">
          <md-icon>chat</md-icon> <p>Out of character</p>
          <md-icon ng-show="msgBox.voice === 'ooc'">check</md-icon>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="showCharacterDialog($event)" aria-hidden="true">
          <md-icon>person_add</md-icon> <p>New Character...</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky" ng-show="hasManyCharacters()">Recent</md-subheader>
        <md-list-item ng-show="hasManyCharacters()" ng-repeat="voice in msgBox.recentVoices()" ng-click="setVoice(voice)">
          <md-icon ng-if="voice === 'narrator'">create</md-icon>
          <md-icon ng-if="voice === 'ooc'">chat</md-icon>
          <md-icon ng-if="voice >= 0" ng-style="{'color':rp.charas[voice].color,'text-shadow':(rp.charas[voice].color|needsContrastColor)?'1px 1px 0px '+(rp.charas[voice].color|contrastColor:0.3) : ''}">person</md-icon>

          <p ng-if="voice === 'narrator'">Narrator</p>
          <p ng-if="voice === 'ooc'">Out of character</p>
          <p ng-if="voice >= 0">{{rp.charas[voice].name}}</p>

          <md-icon ng-show="msgBox.voice === voice">check</md-icon>
        </md-list-item>
        <md-divider ng-show="hasManyCharacters()"></md-divider>
        <md-subheader class="md-no-sticky" ng-show="hasManyCharacters()">All Characters</md-subheader>
        <md-list-item ng-repeat="chara in rp.charas | orderBy:'name'" ng-click="setVoice(id(chara))">
          <md-icon ng-style="{'color':chara.color,'text-shadow':(chara.color|needsContrastColor)?'1px 1px 0px '+(chara.color|contrastColor:0.3) : ''}">person</md-icon>
          <p>{{chara.name}}</p>
          <md-icon ng-show="msgBox.voice === id(chara)">check</md-icon>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>

</section>

<!-- CHARACTER CREATOR DIALOG-->
<div style="visibility: hidden">
  <div class="md-dialog-container" id="characterCreatorDialog">
    <md-dialog>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2><md-icon>person_add</md-icon> New Character</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-hide="addCharaBox.sending" ng-click="hideDialog()" title="Close">
            <md-icon>close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content ng-show="addCharaBox.sending" class="md-dialog-content" layout="column" layout-align="center center">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
      </md-dialog-content>
      <md-dialog-content ng-hide="addCharaBox.sending" class="md-dialog-content" layout="column" layout-align="center center">
        <md-input-container ng-class="nightMode? 'md-hue-3':'md-hue-2'">
          <label>Name this character:</label>
          <input ng-model="addCharaBox.name" maxlength="{{MAX_CHARA_NAME_LENGTH}}" md-autofocus>
        </md-input-container>
        <color-picker ng-model="addCharaBox.color" aria-hidden="true"></color-picker>
        <md-input-container ng-class="nightMode? 'md-hue-3':'md-hue-2'">
          <input ng-model="addCharaBox.color" maxlength="7" aria-label="Character color hex code">
        </md-input-container>

        <md-button class="md-raised" ng-click="sendChara()" ng-disabled="!addCharaBox.isValid()" title="Finish creating this character" ng-style="addCharaBox.isValid() ? {'background-color': addCharaBox.color, 'color': (addCharaBox.color | contrastColor) }: {}">
          <md-icon style="color:inherit">check</md-icon>
            OK
        </md-button>
      </md-dialog-content>
    </md-dialog>
  </div>
</div>

<!-- CONTACT DIALOG-->
<div style="visibility: hidden">
  <div class="md-dialog-container" id="contactDialog">
    <md-dialog>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2><md-icon>help</md-icon> Contact RPNow</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="hideDialog()" title="Close">
            <md-icon>close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content class="md-dialog-content">
        <p>Feel free to contact us with any questions or comments!</p>
        <p>
          <md-icon>mail</md-icon>
          <a class="link" href="mailto:rpnow.net@gmail.com" target="_blank">rpnow.net@gmail.com</a>
        </p>
        <p>
          <md-icon md-font-set="fa" class="fa-facebook-official"></md-icon>
          <a class="link" href="https://fb.me/rpnow.net" target="_blank">@rpnow.net</a>
        </p>
        <p>
          <md-icon md-font-set="fa" class="fa-twitter"></md-icon>
          <a class="link" href="https://twitter.com/rpnow_net" target="_blank">@rpnow_net</a>
        </p>
        <p>
          <md-icon md-font-set="fa" class="fa-tumblr"></md-icon>
          <a class="link" href="https://rpnow.tumblr.com/" target="_blank">@rpnow</a>
        </p>
      </md-dialog-content>
    </md-dialog>
  </div>
</div>

<!-- INVITE DIALOG -->
<div style="visibility: hidden">
  <div class="md-dialog-container" id="inviteDialog">
    <md-dialog>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2><md-icon>mail</md-icon> Invite Friends</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="hideDialog()" title="Close">
            <md-icon>close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content class="md-dialog-content">
        <p>To invite others to this RP, send them the following URL:</p>
        <p><a class="link" href="{{url}}">{{url}}</a></p>
      </md-dialog-content>
    </md-dialog>
  </div>
</div>

<!-- DOWNLOAD DIALOG -->
<div style="visibility: hidden">
  <div class="md-dialog-container" id="downloadDialog">
    <md-dialog>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2><md-icon>cloud_download</md-icon> Download RP</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="hideDialog()" title="Close">
            <md-icon>close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content class="md-dialog-content">
        <md-checkbox ng-model="downloadOOC" aria-label="Include OOC messages" title="Include out-of-character messages">
          Include OOC messages
        </md-checkbox>
        <md-dialog-actions layout="row">
          <md-button class="md-raised md-accent" ng-click="downloadTxt()" title="A plain, unformatted text file">
            <md-icon>file_download</md-icon>
              .TXT
          </md-button>
          <md-button class="md-raised md-accent" ng-click="downloadDocx()" title="A document suitable for editing in a word processor, such as Microsoft Word or LibreOffice">
            <md-icon>file_download</md-icon>
              .DOCX
          </md-button>
        </md-dialog-actions>
      </md-dialog-content>
    </md-dialog>
  </div>

  <!-- READER NOT YET AVAILABLE DIALOG -->
  <div style="visibility: hidden">
    <div class="md-dialog-container" id="readerNotDoneDialog">
      <md-dialog>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><md-icon>import_contacts</md-icon> Read archive</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hideDialog()" title="Close">
              <md-icon>close</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content">
          <p>Sorry! The archive reader isn't ready yet.</p>
          <p>Until it is, you can always download and read a file containing the entire RP.</p>
        </md-dialog-content>
      </md-dialog>
    </div>
  </div>
</div>