/* prevent weird scrolling issues on mobile */
body, html {
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
}

/* misc page style tweaks */
md-toolbar {
    border-bottom: 1px solid #999;
}
#appBar h1, #leftDrawer h2 {
    text-align: center;
}
#leftDrawer md-checkbox {
    margin-right: 0;
    width: auto;
}
.md-toolbar-tools .left-buttons .md-button:first-child {
    margin-left: -8px;
}
.md-toolbar-tools .right-buttons .md-button:last-of-type {
    margin-right: -8px;
}
#leftDrawer md-toolbar a {
    text-decoration: none;
    color: inherit;
}
#noiseSelector {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3px;
}
#noiseSelector md-select-value {
    min-width: 20px;
    width: 20px;
}
#noiseSelector md-select-value > span:first-child {
    display: none;
}
@media (min-width: 1280px) {
    #rightDrawer {
        z-index: 58;
    }
}
md-dialog .md-toolbar-tools md-icon:first-child,
md-sidenav .md-toolbar-tools md-icon:first-child,
md-select-menu md-icon:first-child,
md-select-value md-icon:first-child {
    margin-right: 10px;
}
#message-container {
    padding: 10px 10px 20px;
}
#characterCreatorDialog .md-errors-spacer {
    display: none;
}
#characterCreatorDialog .angular-color-picker {
    background-color: inherit;
    padding: 0;
    border: none;
}
#characterCreatorDialog .angular-color-picker + md-input-container {
    margin: 0;
    padding: 0 0 20px;
    width: 157px;
}
#characterCreatorDialog md-dialog-content button.md-button {
    transition: none;
}

#contactDialog md-dialog-content md-icon {
    margin-right: 10px;
}

#message-input-box {
    z-index: 3;
}
#message-input-box header {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
@media (min-width: 960px) {
    #message-input-box header .message-box-inner-row {
        padding-right: 10px;
    }
}
.dark #message-input-box header {
    border-color: rgba(255,255,255,0.3);
}
#message-input-box header .message-box-inner-row {
    height: 36px;
}
@media (min-width: 600px) {
    #message-input-box header .message-box-inner-row {
        height: 48px;
    }
}
#message-input-box md-icon {
    color: inherit;
}
#voiceChangeBar {
    height: 100%;
    font-size: 120%;
}
#voiceChangeBar md-icon {
    margin: 0 12px;
}
#voiceChangeBar .clickToChange {
    font-size: 80%;
    opacity: 0.7;
    margin-left: 20px;
}
.message-box-inner-row {
    width: 100%;
    max-width: 700px;
    margin: auto;
}
@media (max-width: 959px) {
    .left-buttons button, .right-buttons button { margin-left: 0; }
    .right-buttons button { margin-right: 0; }
}
@media (min-width: 960px) {
    .left-buttons, .right-buttons { width:150px; }
    .md-toolbar-tools h1 { max-width: 600px; }
}
#message-input {
    border: none;
    background-color: transparent;
    color: inherit;
    line-height: 1.4;

    padding: 9px 15px;
    resize: none;
}
