@import '~@angular/material/theming';

div {
    text-align: center;
    padding: 5px;

    color: white;
    background-color: mat-color($mat-deep-purple, "A200");
}
:host-context(.dark-theme) div {
    color: black;
    background-color: mat-color($mat-orange, "A200");
}