html[state^="rp"], html[state^="rp"] body {
    /* prevent weird scrolling issues on mobile */
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;

    /* misc page style tweaks */
    md-toolbar {
        border-bottom: 1px solid #999;
    }
    #appBar h1, #leftDrawer h2 {
        text-align: center;
    }
    #leftDrawer md-checkbox {
        margin-right: 0;
        width: auto;
    }
    .md-toolbar-tools .left-buttons .md-button:first-child {
        margin-left: -8px;
    }
    .md-toolbar-tools .right-buttons .md-button:last-of-type {
        margin-right: -8px;
    }
    #leftDrawer md-toolbar a {
        text-decoration: none;
        color: inherit;
    }
    #noiseSelector {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 3px;

        md-select-value {
            min-width: 20px;
            width: 20px;
        }
        md-select-value > span:first-child {
            display: none;
        }
    }
    #rightDrawer {
        @media (min-width: 1280px) {
            z-index: 58;
        }
    }

    md-sidenav .md-toolbar-tools md-icon:first-child,
    md-select-menu md-icon:first-child,
    md-select-value md-icon:first-child {
        margin-right: 10px;
    }
    #message-container {
        padding: 10px 10px 19px;
    }

    #message-input-box {
        z-index: 3;

        .message-box-inner-row {
            width: 100%;
            max-width: 700px;
            margin: auto;
        }
        header {
            border-top: 1px solid rgba(0,0,0,0.2);
            border-bottom: 1px solid rgba(0,0,0,0.2);
        }
        header .message-box-inner-row {
            height: 36px;
            @media (min-width: 960px) {
                padding-right: 10px;
            }
            @media (min-width: 600px) {
                height: 48px;
            }
        }
        md-icon {
            color: inherit;
        }
    }
    .dark #message-input-box header {
        border-color: rgba(255,255,255,0.3);
    }
    #voiceChangeBar {
        height: 100%;
        font-size: 120%;
        md-icon {
            margin: 0 12px;
        }
        .clickToChange {
            font-size: 80%;
            opacity: 0.7;
            margin-left: 20px;
        }
    }
    @media (max-width: 959px) {
        .left-buttons button, .right-buttons button { margin-left: 0; }
        .right-buttons button { margin-right: 0; }
    }
    @media (min-width: 960px) {
        .left-buttons, .right-buttons { width:150px; }
        .md-toolbar-tools h1 { max-width: 600px; }
    }
    #message-input {
        border: none;
        background-color: transparent;
        color: inherit;
        line-height: 1.4;

        padding: 9px 15px;
        resize: none;
    }

}
