<md-content flex style="height:100%">
  
  <section layout="column" layout-align="stretch center" flex style="width:90vw;max-width:400px; margin: auto">
    <span style="height:10vh"></span>

    <header title="Let's RPNow">
      <aside class="md-display-1" style="max-width:150px;transform:rotate(-10deg)">Let's</aside>
      <h1 ng-class="isXs ? 'md-display-3' : 'md-display-4'" style="margin:0;text-align:center">RPNow</h1>
    </header>

    <span style="height:10vh"></span>

    <div>
      <form ng-hide="submitted" ng-submit="submit()" layout="column" layout-align="stretch center">
        <div layout="row">
          <md-input-container flex class="md-icon-right md-hue-2">
            <label>Name your story</label>
            <input type="text" ng-model="title" maxlength="30" autocomplete="off">
            <md-button class="md-icon-button" style="position:absolute;top:0px;right:-6px;margin:0" ng-click="spinTitle()" title="...or let us name it for you">
              <md-icon>casino</md-icon>
            </md-button>
          </md-input-container>
        </div>
        <md-input-container class="md-hue-2" ng-show="showMoreOptions">
          <textarea ng-model="desc" maxlength="255" md-maxlength="255" md-no-resize placeholder="Enter a Description... (Optional)" autocomplete="off"></textarea>
        </md-input-container>
        <div layout="row" layout-align="space-around center">
          <md-button class="md-raised md-accent" ng-disabled="!title.trim()" type="submit">
            <md-icon>check</md-icon>
            Create {{isXs ? "RP" : "Roleplay"}}
          </md-button>
          <md-button type="button" ng-hide="showMoreOptions" ng-click="showMoreOptions = true">
            <md-icon>more_horiz</md-icon>
            {{isXs ? "Options" : "More options"}}
          </md-button>
        </div>
      </form>

      <div ng-show="submitted" layout="row" layout-align="center center">
        <md-progress-circular class="md-accent" md-diameter="96"></md-progress-circular>
      </div>
    </div>

    <span flex></span>
  </section>

</md-content>