#message-box {
    z-index: 3;

    @media (max-width: 719px) {
        // padding-right: 10px;
        border-top: 1px solid #999;

        > * {
            padding: 0 12px;
        }
    }
    @media (min-width: 720px) {
        max-width: 700px;
        margin: auto;

        border: 1px solid #999;
        border-radius: 8px;
        margin-bottom: 10px;
        overflow: hidden;

        > * {
            padding: 0 50px;
        }
    }

    &.message-box-narrator {
        background-color: #ffffff;
    }
    :host-context(.dark-theme) &.message-box-narrator {
        background-color: #444444;
    }
    &.message-box-ooc {
        background-color: #fafafa;
    }
    :host-context(.dark-theme) &.message-box-ooc {
        background-color: #303030;
    }

    #voice-bar {
        border-bottom: 1px solid #999;

        height: 36px;
        @media (min-width: 600px) {
            height: 48px;
        }

        font-size: 120%;
        #click-to-change {
            height: 100%;
            margin-left: -5px;
            padding-left: 5px;
            transition: background-color .4s cubic-bezier(.25,.8,.25,1);
            cursor: pointer;
            &:hover {
                background-color: rgba(128,128,128,.3);
            }
        }
    }

    #typing-area {
        background-color: rgba(255,255,255,0.8);
        color: black;

        textarea {
            padding: 8px 0;
            border: none;
            background: transparent;
            color: inherit;
            resize: none;
        }
    }
    :host-context(.dark-theme) & #typing-area {
        background-color: rgba(0,0,0,0.8);
        color: white;
    }
}