<mat-toolbar color="primary">

    <h1 fxFlex>
        Characters
    </h1>

    <button mat-icon-button (click)="close()">
        <mat-icon aria-label="Close character menu" matTooltip="Close">close</mat-icon>
    </button>

</mat-toolbar>

<mat-nav-list>
    <a mat-list-item (click)="setVoice('narrator')">
        <mat-icon mat-list-icon>local_library</mat-icon>
        <p mat-line>Narrator</p>
        <mat-icon *ngIf="(currentChara$|async) === 'narrator'">check</mat-icon>
    </a>
    <a mat-list-item (click)="setVoice('ooc')">
        <mat-icon mat-list-icon>chat</mat-icon>
        <p mat-line>Out of Character</p>
        <mat-icon *ngIf="(currentChara$|async) === 'ooc'">check</mat-icon>
    </a>

    <mat-divider></mat-divider>

    <a mat-list-item (click)="newChara()">
        <mat-icon mat-list-icon>person_add</mat-icon>
        <p mat-line>New Character...</p>
    </a>

    <mat-divider></mat-divider>

    <ng-container *ngIf="hasManyCharacters$|async">

        <h3 matSubheader>Recent</h3>

        <a mat-list-item *ngFor="let chara of (recentCharas$|async); trackBy: rp.trackById" (click)="setVoice(chara)">
            <mat-icon mat-list-icon [charaIconColor]="chara.color">person</mat-icon>
            <p mat-line>{{chara.name}}</p>
            <mat-icon *ngIf="(currentChara$|async).id === chara.id">check</mat-icon>
        </a>

        <mat-divider></mat-divider>

    </ng-container>

    <h3 matSubheader *ngIf="hasManyCharacters$|async">All Characters</h3>

    <a mat-list-item *ngFor="let chara of (allCharas$|async); trackBy: rp.trackById" (click)="setVoice(chara)">
        <mat-icon mat-list-icon [charaIconColor]="chara.color">person</mat-icon>
        <p mat-line>{{chara.name}}</p>
        <mat-icon *ngIf="(currentChara$|async).id === chara.id">check</mat-icon>
    </a>

</mat-nav-list>
