<div [ngClass]="classes" [style.background-color]="msg.color||'auto'" [style.color]="(msg.color|bw)">
    <div *ngIf="msg.chara" class="name">{{msg.chara.name}}</div>

    <div class="message-details" *ngIf="!editing && options.showMessageDetails">
        <ng-container *ngIf="msg.sending">
            <mat-spinner [diameter]="16"></mat-spinner>
        </ng-container>
        <ng-container *ngIf="!msg.sending">
            <span class="timestamp" [title]="'Posted '+timeAgo">{{timeAgo}}</span>
            <span *ngIf="msg.edited" class="edited-text" [title]="'Edited '+edited">(Edited)</span>
            <ipid *ngIf="msg.ipid" [style.visibility]="msg.canEdit?'hidden':'visible'" [ipid]="msg.ipid"></ipid>
        </ng-container>
    </div>

    <div *ngIf="msg.canEdit && !msg.sending" class="action-buttons">
        <ng-container *ngIf="!editing">
            <button mat-icon-button (click)="beginEdit()">
                <mat-icon aria-label="Edit post" matTooltip="Edit post">edit</mat-icon>
            </button>
        </ng-container>
        <ng-container *ngIf="editing">
            <button mat-icon-button (click)="confirmEdit()">
                <mat-icon aria-label="Save edits" matTooltip="Save edits">save</mat-icon>
            </button>
            <button mat-icon-button (click)="cancelEdit()">
                <mat-icon aria-label="Discard edits" matTooltip="Discard edits">cancel</mat-icon>
            </button>
        </ng-container>
    </div>

    <ng-container *ngIf="msg.type !== 'image' && !editing">
        <div class="content" [innerHtml]="msg.content|msgFormat:msg.color"></div>
    </ng-container>

    <ng-container *ngIf="editing">
        <div class="content">
            <textarea class="content" [(ngModel)]="newContent" maxlength="10000" rows="4" (keypress)="keypressCheckEnter($event)"></textarea>
        </div>
    </ng-container>

    <ng-container *ngIf="msg.type === 'image'">
        <div class="content">
            <a [href]="msg.url" target="_blank">
                <img [src]="msg.url"/>
            </a>
        </div>
    </ng-container>
</div>