<div fxLayout="row" fxLayoutAlign="center center">

    <h3 mat-dialog-title fxFlex>Post Image</h3>

    <button mat-icon-button mat-dialog-title (click)="cancel()">
        <mat-icon aria-label="Close dialog" matTooltip="Close">close</mat-icon>
    </button>

</div>

<ng-container *ngIf="!loading">

    <mat-form-field>
        <input matInput placeholder="Enter a URL:" [(ngModel)]="url" cdkFocusInitial (keyup.enter)="submit()">
    </mat-form-field>

    <mat-dialog-actions>
        <button mat-raised-button [disabled]="!valid()" color="primary" (click)="submit()">OK</button>
        <button mat-raised-button (click)="cancel()">Cancel</button>
    </mat-dialog-actions>

</ng-container>

<ng-container *ngIf="loading">
    <mat-spinner></mat-spinner>
</ng-container>