RedirectMatch 403 ^/src/.*$
RedirectMatch 403 ^/vendor/.*$
RedirectMatch 403 ^/data/.*$

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]