<mat-sidenav-container fxFill>

    <mat-sidenav #mainMenu position="start" mode="over">

        <main-menu-content></main-menu-content>

    </mat-sidenav>

    <mat-sidenav-content fxLayout="column">

        <banner-message *ngIf="rp.loaded|async"></banner-message>

        <div *ngIf="rp.loaded|async" fxFlex>
            <router-outlet></router-outlet>
        </div>

        <div *ngIf="!(rp.loaded|async)" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <p>Loading your RP...</p>
            <mat-spinner></mat-spinner>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>