<mat-sidenav-container fxFill>

    <mat-sidenav #mainMenu position="start" mode="over">

        <main-menu-content></main-menu-content>

    </mat-sidenav>

    <mat-sidenav-content fxLayout="column">

        <div *ngIf="!(rp.loaded|async) && !(rp.notFound|async)" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <p>Loading your RP...</p>
            <mat-spinner></mat-spinner>
        </div>

        <ng-container *ngIf="rp.loaded|async">
            <banner-message></banner-message>
            <div fxFlex>
                <router-outlet></router-outlet>
            </div>
        </ng-container> 

        <div *ngIf="rp.notFound|async" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <h1>RP Not Found!</h1>

            <p>We couldn't find an RP at <code>/rp/{{rp.rpCode}}</code>. Make sure you've spelled the URL correctly.</p>
            
            <p>If you believe this is an error, contact <a href="mailto:rpnow.net@gmail.com">rpnow.net@gmail.com</a>.</p>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>