<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Loading RP | RPNow</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="theme-color" content="#fafafa">

  <link rel="icon" type="image/png" href="/client-files/assets/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/client-files/assets/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/client-files/assets/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="apple-touch-icon" href="/client-files/assets/favicon/favicon-128x128.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Playfair+Display">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="manifest" href="/client-files/manifest.json">

  <link rel="stylesheet" href="/client-files/rp.css">
</head>
<body>
  <div id="rp-chat" :class="{'dark-theme':nightMode}">
    <div id="loading" v-if="rp == null">
      <i class="material-icons">hourglass_full</i>
      <span>Loading...</span>
    </div>

    <template v-if="rp != null">
      <div id="chat-header">
        <button class="icon-button" @click="openMainMenu">
          <i class="material-icons" title="RPNow menu">menu</i>
        </button>
        <span>
        {{ rp.title }}
        </span>
      </div>

      <div id="messages" class="room-feed">
        <div class="info-box" v-if="rp.msgs.length >= 60">
          <p>These are the latest 60 posts.
          To view earlier messages, check the <a :href="'/read/'+rpCode+'/archive?page=1'">archive</a>.</p>
        </div>

        <div class="info-box" v-if="isNewRp">
          <p><b>Success!</b></p>
          <p>The RP {{ rp.title }} has been created. Just share this link with some friends, and you can all start roleplaying together, in real time!</p>
          <a :href="linkToHere">{{ linkToHere }}</a>
          <p>Please keep the following things in mind, however:</p>
          <ol>
            <li><b>Don't lose the link to this room!</b> If you can't find it, you won't be able to find this room again!</li>
            <li>Anyone with a link to this room can play here. <b>Be careful who you share it with!</b></li>
            <li><b>Don't post any sensitive information here!</b> In the event of a database breach, we would not want anything confidential to be lost.</li>
            <li>RPNow is currently under development, so there's a small chance your stories could be unexpectedly lost &mdash; so, just in case, you can download a copy of the entire RP by clicking the <b>Export</b> link up top.</li>
          </ol>
          <p>Have fun!</p>
        </div>

        <template v-for="msg of rp.msgs">
          <rp-message
            :key="msg._id"
            :type="msg.type"
            :content="msg.content"
            :url="msg.url"
            :timestamp="msg.timestamp"
            :revision="msg.revision"
            :ipid="msg.ip"
            :chara="charasById[msg.charaId]"
            :can-edit="true"
            :press-enter-to-send="pressEnterToSend"
            :show-message-details="true"
            @edit="editMessage(msg._id, $event)"
          ></rp-message>
        </template>
      </div>
    
      <div id="send-box" :class="messageBoxClass" :style="messageBoxStyle">

        <div id="voice-bar">
          <div id="click-to-change" title="Change character" @click="openCharacterMenu">
            {{ currentVoiceName }}
          </div>
          <button class="icon-button" @click="openCharacterMenu">
            <i class="material-icons" title="Change character">people</i>
          </button>
          <button class="icon-button" @click="showImageDialog">
            <i class="material-icons" title="Post image">image</i>
          </button>
          <button class="icon-button" @click="showFormatGuide">
            <i class="material-icons" title="Formatting info">text_fields</i>
          </button>
        </div>

        <div id="typing-area">
          <textarea
            rows="3"
            placeholder="Type your message."
            maxlength="10000"
            :disabled="isMsgBoxSending"
            v-model="msgBoxText"
            @keydown.enter.ctrl.exact.prevent="sendMessage"
            @keydown.enter.exact.prevent="pressEnterToSend && sendMessage()"
            @input="resizeTextareaOnInput($event, 3, 6)"
          ></textarea>
          <template v-if="!isMsgBoxSending">
            <button class="icon-button" :disabled="!msgBoxValid" @click="sendMessage">
              <i class="material-icons" title="Send">send</i>
            </button>
          </template>
          <template v-if="isMsgBoxSending">
            <div id="send-loader-container">
              <mat-spinner diameter="24"></mat-spinner>
            </div>
          </template>
        </div>

      </div>

      <div class="overlay" v-show="showOverlay" @click="clickOverlay"></div>

      <div id="main-menu" class="drawer" v-show="showMainMenu">
        <div class="drawer-header">
          <span>RPNow</span>
          <button class="icon-button" @click="showMainMenu=false">
            <i class="material-icons" title="Close">close</i>
          </button>
        </div>
        <div class="drawer-body">
          <a class="drawer-item" :href="'/read/'+rpCode+'/page/1'" target="_blank">
            <i class="material-icons">import_contacts</i>
            <span>Browse archive</span>
          </a>
          <a class="drawer-item" :href="'/api/rp/'+rpCode+'/download.txt'" target="_blank">
            <i class="material-icons">cloud_download</i>
            <span>Download</span>
          </a>
          <div class="drawer-divider"></div>
          <button class="drawer-item" @click="nightMode = !nightMode">
            <i class="material-icons">brightness_4</i>
            <span>Night mode</span>
          </button>
          <button class="drawer-item" @click="nightMode = !nightMode">
            <i class="material-icons">notifications</i>
            <span>Alerts</span>
          </button>
          <button class="drawer-item" @click="nightMode = !nightMode">
            <i class="material-icons">send</i>
            <span>Quick send<pan></pan>
          </button>
          <button class="drawer-item" @click="nightMode = !nightMode">
            <i class="material-icons">account_box</i>
            <span>Message details</span>
          </button>
          <div class="drawer-divider"></div>
          <a class="drawer-item" href="/" target="_blank">
            <i class="material-icons">meeting_room</i>
            <span>Return home</span>
          </a>
          <a class="drawer-item" href="/about" target="_blank">
            <i class="material-icons">help</i>
            <span>About this server</span>
          </a>
          <a class="drawer-item" href="/terms" target="_blank">
            <i class="material-icons">account_balance</i>
            <span>Terms of use</span>
          </a>
        </div>
      </div>

      <div id="character-menu" class="drawer" v-show="showCharacterMenu">
        <div class="drawer-header">
          <span>Characters</span>
          <button class="icon-button" @click="showCharacterMenu=false">
            <i class="material-icons" title="Close">close</i>
          </button>
        </div>
        <div class="drawer-body">
          <button :class="['drawer-item', {'drawer-item-selected': currentMsgType==='narrator'}]" @click="selectCharacter('narrator')">
            <i class="material-icons">local_library</i>
            <span>Narrator</span>
          </button>
          <button :class="['drawer-item', {'drawer-item-selected': currentMsgType==='ooc'}]" @click="selectCharacter('ooc')">
            <i class="material-icons">chat</i>
            <span>Out of Character</span>
          </button>
          <div class="drawer-divider"></div>
          <button class="drawer-item" @click="openCharacterDialog">
            <i class="material-icons">person_add</i>
            <span>New Character...</span>
          </button>
          <div class="drawer-divider"></div>
          <template v-for="chara of rp.charas" key="chara._id">
            <button :class="['drawer-item', {'drawer-item-selected': currentChara===chara}]" @click="selectCharacter('chara', chara._id)">
              <i class="material-icons" :style="{'color':chara.color}">person</i>
              <span>{{ chara.name }}</span>
            </button>
          </template>
        </div>
      </div>
    
      <div id="new-character" v-show="showCharacterDialog">
        <h3>New Character</h3>
        <input placeholder="Name your character" type="text" maxlength="30" v-model="charaDialogName">
        <input type="color" v-model="charaDialogColor">
        <button type="button" @click="sendChara">Add</button>
        <button type="button" @click="closeCharacterDialog">Cancel</button>
      </div>
    
    </template>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>  -->
  <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.3.5/src/httpVueLoader.js"></script>
  <script>
    new Vue({
      el: '#rp-chat',
      components: {
        'rp-message': httpVueLoader('/client-files/rp-message.vue'),
      },
      data: {
        demo: false,
        linkToHere: location.href,
        rpCode: location.pathname.match(/\/rp\/([^\/]+)/)[1],
        rp: null,
        isNewRp: false,
        msgBoxText: '',
        currentMsgType: 'narrator',
        currentCharaId: null,
        charaDialogName: '',
        charaDialogColor: '#dddddd',
        showCharacterMenu: false,
        showCharacterDialog: false,
        pressEnterToSend: true,
        showMainMenu: false,
        nightMode: false,
      },
      computed: {
        charasById: function() {
          return this.rp.charas.reduce(function(map, chara) {
            map[chara._id] = chara;
            return map;
          }, {});
        },
        currentChara: function() {
          if (this.currentMsgType !== 'chara') return undefined;
          return this.charasById[this.currentCharaId]
        },
        currentVoiceName: function() {
          if (this.currentMsgType === 'narrator') return 'Narrator';
          if (this.currentMsgType === 'ooc') return 'Out of Character';
          return this.currentChara.name;
        },
        currentCharaColor: function() {
          if (this.currentMsgType !== 'chara') return undefined;
          return this.currentChara.color;
        },
        messageBoxClass: function() {
          return 'send-box-' + this.currentMsgType;
        },
        messageBoxStyle: function() {
          if (this.currentMsgType !== 'chara') return {};
          else return { 'background-color': this.currentCharaColor };
        },
        showOverlay: function() {
          return this.showCharacterMenu || this.showCharacterDialog || this.showMainMenu;
        },
        isMsgBoxSending: function() {
          return false;
        },
        msgBoxValid: function() {
          return this.msgBoxText.trim().length > 0;
        }
      },
      methods: {
        fetchUpdates: function() {
          var scheduleNextUpdate = (function() {
            setTimeout(this.fetchUpdates.bind(this), 5000);
          }).bind(this);

          axios.get('/api/rp/' + this.rpCode + '/updates?since=' + this.rp.lastEventId)
            .then((function(res) {
              this.rp.lastEventId = res.data.lastEventId;

              res.data.updates.forEach((function(update) {
                this.updateState(update);
              }).bind(this));

              scheduleNextUpdate();
            }).bind(this))
            .catch((function(err) {
              console.error(err);
              scheduleNextUpdate();
            }).bind(this))
        },
        updateState: function(update) {
          var arr = this.rp[update.type];

          arr = arr.filter(function(item) { return item._id !== update.data._id });
          arr.push(update.data);
          arr.sort(function(a, b) { return a._id < b._id ? -1 : 1 });

          // keep no more than 60 messages
          if (update.type === 'msgs') {
            arr = arr.slice(-60);
          }

          this.rp[update.type] = arr;
        },
        postUpdate: function(type, body) {
          return axios.post('/api/rp/' + this.rpCode + '/' + type, body)
            .then((function(res) {
              this.updateState({ type: type, data: res.data });
              return res.data;
            }).bind(this));
        },
        sendMessage: function() {
          var data = {
            content: this.msgBoxText,
            type: this.currentMsgType,
            charaId: this.currentCharaId || undefined,
          };
          this.postUpdate('msgs', data)
            .then((function() {
              this.msgBoxText = '';
            }).bind(this));
        },
        sendChara: function() {
          var data = {
            name: this.charaDialogName,
            color: this.charaDialogColor,
          };
          this.postUpdate('charas', data)
            .then((function(data) {
              this.charaDialogName = '';
              this.showCharacterDialog = false;
              this.selectCharacter('chara', data._id);
            }).bind(this));
        },
        putUpdate: function(_id, type, body) {
          return axios.put('/api/rp/' + this.rpCode + '/' + type + '/' + _id, body)
            .then((function(res) {
              this.updateState({ type: type, data: res.data });
              return res.data;
            }).bind(this));
        },
        editMessage: function(_id, body) {
          this.putUpdate(_id, 'msgs', body);
        },
        openCharacterMenu: function() {
          this.showCharacterMenu = true;
        },
        openCharacterDialog: function() {
          this.showCharacterDialog = true;
        },
        closeCharacterDialog: function() {
          this.showCharacterDialog = false;
        },
        selectCharacter: function(type, charaId) {
          this.currentMsgType = type;
          this.currentCharaId = (type === 'chara') ? charaId : null;
          this.showCharacterMenu = false;
        },
        showImageDialog: function() {
          // TODO
        },
        showFormatGuide: function() {
          window.open('/format', '_blank').focus();
        },
        clickOverlay: function() {
          if (this.showCharacterDialog) {
            this.showCharacterDialog = false;
          } else if (this.showCharacterMenu) {
            this.showCharacterMenu = false;
          } else if (this.showMainMenu) {
            this.showMainMenu = false;
          }
        },
        openMainMenu: function() {
          this.showMainMenu = true;
        },
        resizeTextareaOnInput: function($event, minRows, maxRows) {
          var el = $event.target;
          while (el.rows > minRows && el.scrollHeight <= el.offsetHeight) {
            el.rows = el.rows - 1;
          }
          while (el.rows < maxRows && el.scrollHeight > el.offsetHeight) {
            el.rows = el.rows + 1;
          }
        }
      },
      created: function() {
        axios.get('/api/rp/' + this.rpCode)
          .then((function(res) {
            this.rp = res.data;

            document.title = this.rp.title + ' | RPNow';
            this.isNewRp = this.rp.msgs.length === 0;

            this.fetchUpdates();
          }).bind(this));
      },
    })
  </script>
</body>
</html>

