<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Loading RP | RPNow</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="theme-color" content="#fafafa">

  <link rel="icon" type="image/png" href="/client-files/assets/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/client-files/assets/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/client-files/assets/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="apple-touch-icon" href="/client-files/assets/favicon/favicon-128x128.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Playfair+Display">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="manifest" href="/client-files/manifest.json">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgrins/spectrum@1.8.0/spectrum.css" integrity="sha256-0gNW6jKGMP+oFR22hK5tl1qsZf21rWKR5cqmkyaLyjI=" crossorigin="anonymous">

  <link rel="stylesheet" href="/client-files/rp.css">
</head>
<body>
  <div id="rp-chat" :class="{'dark-theme':nightMode}">
    <div id="loading" v-if="rp == null && loadError == null">
      <i class="material-icons">hourglass_full</i>
      <span>Loading...</span>
    </div>

    <div id="loading" v-if="loadError != null">
      <i class="material-icons">error</i>
      <span>Failed to load RP! {{ loadError }}</span>
    </div>

    <template v-if="rp != null">
      <div id="main-column">
        <div id="connection-indicator" v-if="consecutiveNetworkFailures > 0">
          <i class="material-icons">error</i>
          Connection lost!
          <template v-if="consecutiveNetworkFailures > 1">
            (Failed to reconnect {{ consecutiveNetworkFailures }} times.)
          </template>
        </div>

        <div id="chat-header">
          <button class="icon-button" @click="openMainMenu">
            <i class="material-icons" title="RPNow menu">menu</i>
          </button>
          <span>
            {{ rp.title }}
          </span>
          <button class="icon-button" v-if="nowPlayingAudio" @click="nowPlayingAudio=null">
            <i class="material-icons" title="Stop audio">headset</i>
          </button>
        </div>

        <div id="messages" @scroll="onScroll">
          <p id="archive-advice" v-if="rp.msgs.length >= 60">
            To view older messages, <a :href="'/read/'+rp.readCode+'/page/1'" target="_blank">visit the archive.</a>
          </p>

          <div id="welcome" v-if="isNewRp">
            <h3>Welcome to your new RP!</h3>
            <p>
              Use this link to invite other participants, or to return to this room later. <strong>Don't lose it!</strong>
            </p>
            <p>
              <code><a :href="linkToHere">{{ linkToHere }}</a></code>
            </p>
          </div>

          <template v-for="msg of rp.msgs">
            <rp-message
              :key="msg._id"
              :type="msg.type"
              :content="msg.content"
              :url="msg.url"
              :timestamp="msg.timestamp"
              :revision="msg.revision"
              :ipid="msg.ip"
              :chara="charasById[msg.charaId]"
              :can-edit="true"
              :press-enter-to-send="pressEnterToSend"
              :show-message-details="showMessageDetails"
              :dark-theme="nightMode"
              @edit="editMessage(msg._id, $event)"
              @prompt-image-edit="openImageDialog(msg)"
              @prompt-audio-edit="openAudioDialog(msg)"
              @resize="rescrollToBottom"
              @play-audio="playAudio(msg)"
            ></rp-message>
          </template>
        </div>

        <div id="send-box" :class="messageBoxClass" :style="messageBoxStyle">

          <div id="voice-bar">
            <div id="click-to-change" title="Change character" @click="openCharacterMenu">
              {{ currentVoiceName }}
            </div>
            <button class="icon-button" @click="openCharacterMenu">
              <i class="material-icons" title="Change character">people</i>
            </button>
            <button class="icon-button" @click="openImageDialog(null)">
              <i class="material-icons" title="Post image">image</i>
            </button>
            <button class="icon-button" @click="openAudioDialog(null)">
              <i class="material-icons" title="Embed audio">headset</i>
            </button>
            <button class="icon-button" @click="showFormatGuide">
              <i class="material-icons" title="Formatting info">text_fields</i>
            </button>
          </div>

          <div id="typing-area">
            <textarea
              rows="3"
              placeholder="Type your message."
              maxlength="10000"
              :disabled="isMsgBoxSending"
              v-model="msgBoxText"
              @keydown.enter.ctrl.exact="($event.preventDefault(), sendMessage())"
              @keydown.enter.exact="pressEnterToSend() ? ($event.preventDefault(), sendMessage()) : null"
              @input="resizeTextareaOnInput($event, 3, 6)"
            ></textarea>
            <template v-if="!isMsgBoxSending">
              <button class="icon-button" :disabled="!msgBoxValid" @click="sendMessage">
                <i class="material-icons" title="Send">send</i>
              </button>
            </template>
            <template v-if="isMsgBoxSending">
              <div id="send-loader-container">
                <i class="material-icons">hourglass_full</i>
              </div>
            </template>
          </div>

        </div>
      </div>

      <div class="overlay overlay-drawer" @click="showMainMenu=false" v-show="showMainMenu"></div>

      <div id="main-menu" class="drawer drawer-left" v-show="showMainMenu">
        <div class="drawer-header">
          <span>RPNow</span>
          <button class="icon-button" @click="showMainMenu=false">
            <i class="material-icons" title="Close">close</i>
          </button>
        </div>
        <div class="drawer-body">
          <a class="drawer-item" :href="'/read/'+rp.readCode+'/page/1'" target="_blank">
            <i class="material-icons">import_contacts</i>
            <span>Browse archive</span>
          </a>
          <button class="drawer-item" @click="openDownloadDialog()">
            <i class="material-icons">cloud_download</i>
            <span>Download</span>
          </button>
          <div class="drawer-divider"></div>
          <button class="drawer-item" @click="nightMode = !nightMode">
            <i class="material-icons">brightness_4</i>
            <span>Night mode</span>
            <i class="material-icons" v-html="nightMode?'check_box':'check_box_outline_blank'"></i>
          </button>
          <button class="drawer-item" @click="browserAlerts = !browserAlerts">
            <i class="material-icons">notifications</i>
            <span>Alerts</span>
            <i class="material-icons" v-html="browserAlerts?'check_box':'check_box_outline_blank'"></i>
          </button>
          <button class="drawer-item" @click="overridePressEnterToSend = !pressEnterToSend()">
            <i class="material-icons">send</i>
            <span>Quick send</span>
            <i class="material-icons" v-if="overridePressEnterToSend===true">check_box</i>
            <i class="material-icons" v-if="overridePressEnterToSend===false">check_box_outline_blank</i>
            <i class="material-icons" v-if="overridePressEnterToSend===null">indeterminate_check_box</i>
          </button>
          <button class="drawer-item" @click="showMessageDetails = !showMessageDetails">
            <i class="material-icons">account_box</i>
            <span>Message details</span>
            <i class="material-icons" v-html="showMessageDetails?'check_box':'check_box_outline_blank'"></i>
          </button>
          <div class="drawer-divider"></div>
          <a class="drawer-item" href="/" target="_blank">
            <i class="material-icons">meeting_room</i>
            <span>Return home</span>
          </a>
          <a class="drawer-item" href="/terms" target="_blank">
            <i class="material-icons">account_balance</i>
            <span>Terms of use</span>
          </a>
        </div>
      </div>

      <div class="overlay overlay-lt-1024 overlay-drawer" @click="showCharacterMenu=false" v-show="showCharacterMenu"></div>

      <div id="character-menu" class="drawer drawer-right drawer-dock-1024" v-show="showCharacterMenu">
        <div class="drawer-header">
          <span>Characters</span>
          <button class="icon-button" @click="showCharacterMenu=false">
            <i class="material-icons" title="Close">close</i>
          </button>
        </div>
        <div class="drawer-body">
          <button :class="['drawer-item', {'drawer-item-selected': currentMsgType==='narrator'}]" @click="selectCharacter('narrator')">
            <i class="material-icons">local_library</i>
            <span>Narrator</span>
          </button>
          <button :class="['drawer-item', {'drawer-item-selected': currentMsgType==='ooc'}]" @click="selectCharacter('ooc')">
            <i class="material-icons">chat</i>
            <span>Out of Character</span>
          </button>
          <div class="drawer-divider"></div>
          <button class="drawer-item" @click="openCharacterDialog(null)">
            <i class="material-icons">person_add</i>
            <span>New Character...</span>
          </button>
          <div class="drawer-divider"></div>
          <template v-for="chara of rp.charas" key="chara._id">
            <div :class="['drawer-item', {'drawer-item-selected': currentChara===chara}]" @click="selectCharacter('chara', chara._id)">
              <i class="material-icons chara-icon-shadow" :style="{'color':chara.color}">person</i>
              <span>{{ chara.name }}</span>
              <button class="icon-button" @click.prevent.stop="openCharacterDialog(chara)">
                <i class="material-icons" title="Edit character">edit</i>
              </button>
            </div>
          </template>
        </div>
      </div>
    
      <div class="overlay overlay-dialog" @click="showCharacterDialog=false" v-show="showCharacterDialog"></div>

      <div id="character-dialog" class="dialog" v-show="showCharacterDialog">
        <div>
          <input placeholder="Name your character" type="text" maxlength="30" v-model="charaDialogName">
        </div>
        <div>
          <spectrum-colorpicker v-model="charaDialogColor"></spectrum-colorpicker>
        </div>
        <div>
          <button type="button" class="outline-button" @click="sendChara">Save</button>
          <button type="button" class="outline-button" @click="closeCharacterDialog">Cancel</button>
        </div>
      </div>

      <div class="overlay overlay-dialog" @click="showImageDialog=false" v-show="showImageDialog"></div>

      <div id="image-dialog" class="dialog" v-show="showImageDialog">
        <div>
          <input placeholder="Enter a URL" type="text" v-model="imageDialogUrl" @keydown.enter="sendImage">
        </div>

        <div class="preview-container preview-container-busted" v-if="imageDialogIsChecking">
          <i class="material-icons">hourglass_full</i>
          <span>Loading...</span>
        </div>

        <div class="preview-container" v-if="imageDialogIsValid">
          <img :src="imageDialogUrl">
        </div>

        <div class="preview-container preview-container-busted" v-if="!imageDialogIsValid && !imageDialogIsChecking">
          <span v-if="imageDialogUrl.length > 0 && !imageDialogIsWellFormed">RPNow can't read this URL.</span>
          <span v-if="imageDialogIsWellFormed">Can't load this image.</span>
        </div>

        <div>
          <button type="button" class="outline-button" @click="sendImage" :disabled="!imageDialogIsValid">Save</button>
          <button type="button" class="outline-button" @click="showImageDialog=false">Cancel</button>
        </div>
      </div>

      <div class="overlay overlay-dialog" @click="closeAudioDialog" v-show="showAudioDialog"></div>

      <div id="audio-dialog" class="dialog" v-show="showAudioDialog">
        <div>
          <input placeholder="Enter a URL" type="text" v-model="audioDialogUrl" @keydown.enter="sendAudio">
        </div>
        <div class="preview-container" v-if="audioDialogUrlTransformed">
          <iframe sandbox="allow-scripts allow-same-origin" allow="autoplay; encrypted-media" :src="audioDialogUrlTransformed"></iframe>
        </div>
        <div class="preview-container preview-container-busted" v-if="!audioDialogUrlTransformed">
          <span v-if="audioDialogUrl.length > 0">RPNow can't read this URL.</span>
        </div>
        <div>
          <button type="button" class="outline-button" @click="sendAudio" :disabled="!audioDialogUrlTransformed">Save</button>
          <button type="button" class="outline-button" @click="closeAudioDialog">Cancel</button>
        </div>
      </div>

      <div class="overlay overlay-dialog" @click="showDownloadDialog=false" v-show="showDownloadDialog"></div>

      <div id="download-dialog" class="dialog" v-show="showDownloadDialog">
        <h4>Download RP</h4>
        <p>
          <label>
            <input type="checkbox" v-model="downloadOOC">
            Include OOC messages
          </label>
        </p>
        <div>
          <button type="button" class="outline-button" @click="downloadTxt">Download</button>
          <button type="button" class="outline-button" @click="closeDownloadDialog">Cancel</button>
        </div>
      </div>

      <div class="overlay overlay-dialog" v-show="isDialogSending">
        <i class="material-icons">hourglass_full</i>
        <span>Loading...</span>
      </div>

      <iframe
        v-if="nowPlayingAudio"
        v-show="false"
        sandbox="allow-scripts allow-same-origin"
        allow="autoplay; encrypted-media"
        :src="nowPlayingAudio.url">
      </iframe>

    </template>

  </div>

  <!-- Promise polyfill for older browsers, needed for axios -->
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4.2.5/dist/es6-promise.auto.min.js" integrity="sha256-8qFPvAMQLj9hOXkNoEO0iOXQx2tHyA8XWkym5O3dxqM=" crossorigin="anonymous"></script>
  <!-- Axios, our http library -->
  <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <!-- Vue, our frontend framework -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js" integrity="sha256-ui3vFTgbIIvd9ePh+wF+ju05O3jympV4FyFlpNMV2cw=" crossorigin="anonymous"></script>
  <!-- Library to load .vue single-file-components without a build tool -->
  <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.3.5/src/httpVueLoader.js" integrity="sha256-f897uAVsdigDKLGjTcl8PwseSHi6KrsgpGqsOQKPW9w=" crossorigin="anonymous"></script>
  <!-- jQuery is required for Spectrum, but please do not use it for other things -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- Spectrum is a color picker. Also includes the tinycolor library -->
  <script src="https://cdn.jsdelivr.net/gh/bgrins/spectrum@1.8.0/spectrum.js" integrity="sha256-3wWiHra+MxkTwcZwUQkkowAjnu5uqAF+6hE676OitiE=" crossorigin="anonymous"></script>

  <!-- App code -->
  <script src="/client-files/rp.js"></script>
</body>
</html>

