@import '~@angular/material/theming';
@include mat-core();

// Light theme
$light-theme: mat-light-theme(
    mat-palette($mat-deep-purple, "A200"),
    mat-palette($mat-deep-purple, "A200")
);

// Dark theme
$dark-theme: mat-dark-theme(
    mat-palette($mat-amber),
    mat-palette($mat-amber)
);

$body-typography: mat-typography-config(
    $font-family: 'Alice'
);
$header-typography: mat-typography-config(
    $font-family: 'Playfair Display'
);

// max height for app
body {
    margin: 0;
}

body, html {
    height: 100%;
}

// theme styles
body:not(.dark-theme) {
    @include angular-material-theme($light-theme)
}
body.dark-theme {
    @include angular-material-theme($dark-theme);
}

// fonts
@include angular-material-typography($body-typography);
h1, h2, h3 {
    font-family: mat-font-family($header-typography) !important;
    font-size: 120%;
}

// color picker styles
color-picker .hue-alpha.box, color-picker .color-picker {
    border: none;
    background-color: inherit;
}
color-picker .hue-alpha.box .left {
    padding-top: 4px;
}
color-picker .hue-alpha.box .selected-color {
    top: 4px;
}
color-picker .hue-alpha.box .right {
    padding-top: 0;
}

// mat component styles
mat-sidenav {
    width: 320px;
    max-width: 80%;
}
mat-toolbar.flat-toolbar {
    h1 {
        font-size: 24px;
    }
    background-color: inherit !important;
}
mat-toolbar.shadow-toolbar {
    h1 {
        font-size: 24px;
    }
    background-color: inherit !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.dark-theme mat-toolbar.shadow-toolbar {
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

// misc
body, html {
    overscroll-behavior: none;
}
.flex-scroll-container {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 0px;
    overscroll-behavior: contain;
}
textarea {
    font-size: inherit;
    font-family: inherit;
}


.generated-links a,
.generated-links-contrast a {
    text-decoration: none;
    border-bottom: 1px dotted rgb(124, 77, 255);
    color: rgb(124, 77, 255);
    opacity: 0.87;
}
.generated-links a:hover,
.generated-links-contrast a:hover {
    opacity: 1;
}
.dark-theme .generated-links a {
    color: rgb(255,193,7);
    border-bottom-color: rgb(255,193,7);
}
.generated-links-contrast a {
    font-weight: bold;
    opacity: 0.7;
    color: white;
    border-bottom-color: white;
}
.dark-theme .generated-links-contrast a {
    color: black;
    border-bottom-color: black;
}

// Hack to get old behavior from @angular/flex-layout so that layouts don't collapse
// https://github.com/angular/flex-layout/issues/689
// TODO: consider abandoning flex-layout entirely at some point

*[fxlayout='column'] > *[fxFlex] {
    flex-basis: 0.000000001px !important;
}
