@import '~@angular/material/theming';
@include mat-core();

// Light theme
$light-theme: mat-light-theme(
    mat-palette($mat-grey, 50, 500, 200),
    mat-palette($mat-deep-purple, "A200")
);

// Dark theme
$dark-theme: mat-dark-theme(
    mat-palette($mat-grey, 800),
    mat-palette($mat-amber)
);

$body-typography: mat-typography-config(
    $font-family: 'Alice'
);
$header-typography: mat-typography-config(
    $font-family: 'Playfair Display'
);

// max height for app
body {
    margin: 0;
}

body, html {
    height: 100%;
}

// theme styles
body.light-theme {
    @include angular-material-theme($light-theme)
}
body.dark-theme {
    @include angular-material-theme($dark-theme);
}

// fonts
@include angular-material-typography($body-typography);
h1, h2, h3 {
    font-family: mat-font-family($header-typography) !important;
}