<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RPNow</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="theme-color" content="#fafafa">

  <link rel="icon" type="image/png" href="/client-files/assets/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/client-files/assets/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/client-files/assets/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="apple-touch-icon" href="/client-files/assets/favicon/favicon-128x128.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Playfair+Display">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="manifest" href="/client-files/manifest.json">

  <style>
  </style>
</head>
<body>
  <div id="rp-chat">
    <div id="loading" v-if="rp == null">
      <i class="material-icons">hourglass_full</i>
      Loading...
    </div>

    <template v-if="rp != null">
      <h1>{{ rp.title }}</h1>

      <template v-for="msg of rp.msgs">
        <div>
          {{ msg.content }}
        </div>
      </template>

      <textarea v-model="msgBoxText" @keyup.enter="sendMessage"></textarea>

      <button @click="sendMessage">Send</button>
    </template>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    new Vue({
      el: '#rp-chat',
      data: {
        rpCode: location.pathname.match(/\/rp\/([^\/]+)/)[1],
        rp: null,
        msgBoxText: '',
      },
      methods: {
        updateState: function(update) {
          var arr = this.rp[update.type];

          arr = arr.filter(function(item) { return item._id !== update.data._id });
          arr.push(update.data);
          arr.sort(function(a, b) { return a._id < b._id ? -1 : 1 });

          this.rp[update.type] = arr;
        },
        sendMessage: function() {
          axios.post('/api/rp/' + this.rpCode + '/msgs', { type: 'narrator', content: this.msgBoxText })
            .then((function() {
              this.msgBoxText = '';
            }).bind(this));
        }
      },
      created: function() {
        axios.get('/api/rp/' + this.rpCode)
          .then((function(res) {
            this.rp = res.data;

            var es = new EventSource('/api/rp/'+this.rpCode+'/stream?lastEventId='+res.lastEventId);

            es.addEventListener('open', function () { console.log('open'); });
            es.addEventListener('error', function () { console.log('error'); });
            es.addEventListener('message', (function(event) {
              this.updateState(JSON.parse(event.data));
            }).bind(this));
          }).bind(this));
      },
    })
  </script>
</body>
</html>

